@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
	max-width: 100%;
	margin: 0px;
	padding: 0px;
	text-align: center;
	height: 100%;
	position: relative;
	min-height: 100%;
}

.input {
	outline: none;
	background-color: transparent;
	font-size: small;
	box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.dropdown {
	box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
	border: none;
	outline: none !important;
	/* font-size: small; */
	/* background-color: black; */
}
.dropdown:focus {
	border: none;
	outline: none !important;
}
.opt {
	width: auto;
	border: none;
	font-size: small;
}
.c-article {
	box-shadow: 0 3px 10px rgb(0 0 0 / 0.4);
}

.cc-article {
	box-shadow: 0 3px 10px rgb(0 0 0 / 0.4);
	transition: 0.1s ease-in-out;
}

.cc-article:hover {
	scale: 1.02;
}

.nav {
	box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.btn {
	box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

#footer {
	box-shadow: 0 3px 10px rgb(0 0 0 / 0.4);
}
